/* App config*/
.App {
  align-items: center;
  justify-content: center;
}

/*Header config*/
#Header{
  width: 100%;
  height: 25px;
}

#Header p{
  margin: 1.5% 5% 1%;
  float: left;
  color: black;
}

#FindMe {
  margin: 1% 5% 1%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  width: 25px;
}

#FindMe a{
  padding: 0% 2.5%;
}


/*Intro Config*/
#Intro {
  width: 85%;
  border-radius: 2rem;
  height: 325px;
  margin: 2.5% 5%;
  padding: 1.5%;
  /* align-items: center; */
  background-color:aquamarine;
  justify-content:center;
  display:grid;
  grid-template-rows: 70% 30%;
  align-content: center;
}

/* .IntroParagraph{
  align-self: center;
} */

.IntroImage{
  width: 350px;
  height: 400px;
}
.IntroImage img{
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  width: 50%;
  /* object-fit:fill; */
  border-radius:100%;
}

.logo {
  border-radius: 2rem;
  width: 23px;
  height: 23px;
  padding: 5% 5% 5%;
}


/*About Me Paragraph display*/
#AboutMe {
  display: block;
  margin: 2.5% 15.5% 8%;
  height: 400px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 2em;
  padding: 0.4em 1.4em;
}

#AboutMe p {
  object-fit: contain;
  text-align: center;
}


/* Past Projects*/
#PastProjects {
  overflow-y: scroll;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2.5% 15.5% 8%;
  text-align: center;
  background-color: aquamarine;
  border-radius: 2em;
  padding: 0.4em 1.4em;
}

.card{
  width: 250px;
  margin: 50px;
}

.homeLogo {
  width: 35px;
  height: 35px;
  padding: 5% 0% 5%;
}


/* Tab Config*/
.outlet{
  text-align: center;
}

ul.nav {
  width: 50%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  @media (max-width: 768px) {
    width: 10%;
  }
}

ul.nav li {
  width: 60%;
  list-style: none;
  border: 2px solid #39A2DB;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 4rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}


/*Pdf viewer*/
/* #myDocs{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5% 15.5% 8%;
  background-color:aquamarine; 
  border-radius: 2em;
  padding: 0.4em 1.4em;
} */

/*Past Projects*/
.Switcher{
  height: 400px;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 2.05% 15.5% 8%;
  padding: 0.4em 1.4em;
  background-color: aquamarine;
  border-radius: 2em;
}

.ProjectHeader{
  text-align: center;
}

.Navi {
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#HomeButton {
  display: grid;
  align-content: center;
  margin: 50% 15%;
}


/* Footer*/
#Footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: aquamarine;
  display: flex;
  align-items: center;
}