/* Universal Config*/
:root {
    --backgroundColor: #C2DED1;
    --divColour: #ECE5C7;
    /* https://isotropic.co/tool/hex-color-to-css-filter/ for logo color*/
    --logoColor: invert(85%) sepia(12%) saturate(341%) hue-rotate(0deg) brightness(90%) contrast(91%);
    --cardColor: #CDC2AE;
    --textColour: #354259;
}

[data-theme='dark'] {
    --backgroundColor: #2C3333;
    --divColour: #395B64;
    --logoColor: filter: invert(88%) sepia(34%) saturate(184%) hue-rotate(130deg) brightness(87%) contrast(82%);
    --cardColor: #A5C9CA;
    --textColour: #E7F6F2;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: auto;
    background-color: var(--backgroundColor);
    height: 100vh;
    width:100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
.App {
    text-align: center;
    margin: 0;
    padding: 0;
}

.ProgramHeader {
    width: 25rem;
    padding: 0 0.5rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2rem 21rem 2rem;
    color: var(--textColour);
    place-items: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--textColour);
}

a:hover {
        text-decoration: underline;
    }

.ProjectHeader {
    color: var(--textColour);
    padding: 0.1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row
}

#Index {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0%;
}

#ContentContainer {
    width: 95%;
    height: auto;
    max-height: 25rem;
    overflow:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    align-items: stretch;
    background-color: var(--divColour);
    padding: 0.4em 1.4em;
    color: var(--textColour);
}


/* Card Config */
.card {
    width: 14rem;
    height: 18rem;
    margin: 3%;
}

.cardMedia {
    height: 65%
}

.cardContent {
    height: 35%;
    background-color: var(--cardColor);
}

.cardContent:hover {
        background-color: var(--divColour);
    }

.tutorCard {
    width: 11rem;
    height: 15rem;
    margin: 1.5%;
}

.popupCard {
    max-width: 12rem;
    width: auto;
    height: auto;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.popupCardContent {
    height: 100%;
    width: 100%;
    background-color: var(--cardColor);
}

.tutorButton button {
    width: 5rem;
    height: 2.5rem;
    margin: 1rem
}

.tutorCards{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}

.cardQuestion{
    height: 50%
}

.tutorCardActions{
    height: 30%;
    display:flex;
    justify-content:center;
}

.tutorCardActions button {
    width: 4rem;
    height: 1.5rem;
}

.tutorCardContent {
        height: 100%;
        background-color: var(--cardColor);
    }


/* Tutor style */
.tutorButton button{
    background-color: var(--backgroundColor)
}

.tutorButton button:hover {
    background-color: var(--textColour)
}

.tutorCardActions button, .popupButton button{
    background-color: var(--divColour)
}

.tutorCardActions button:hover, popupButton button:hover {
    background-color: var(--cardColor)
}

.popup-box {
    position: fixed;
    background: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 50%;
    height: 50%;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    border-radius: 1rem;
    border: 0.2rem solid var(--cardColor);
    color: var(--textColour)
}

.box h3{
    height: 10%
}

.paragraph{
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.popupButton{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
}


/* Accordion */
#Accordion {
    width: 90%;
}

#Accordion * {
        background-color: var(--cardColor);
    }

.accordion {
    width: 100%;
    margin: 2rem 0;
}

.accordionDetails {
    width: 80%;
}

.accordionSummary h2, h3 {
    width: 100%;
}


/*Header config*/
#Header {
    height: 3rem;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    background-color: var(--divColour);
    justify-content: center;
}

.headerName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerName a {
        color: var(--textColour);
    }

.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLinks {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: auto;
}

.headerLink {
    width: 1.9rem;
    height: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    width: 1.4rem;
    height: 1.4rem;
}

.headerLogo:hover {
        width: 1.55rem;
        height: 1.55rem;
    }


/*Site Links*/
.siteLogo {
    width: 5rem;
    height: 5rem;
}

.siteLogo:hover {
        width: 5.2rem;
        height: 5.2rem;
        z-index: 50;
    }

.siteLinkHeader {
    text-align: center;
    color: var(--textColour);
}

.siteLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 6rem;
    margin: 0% 10%;
}

.homeLinks {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 2% 0% ;
}


/* Social Links */
.logo {
    border-radius: 2rem;
    width: 1.35rem;
    height: 1.35rem;
}

.logo:hover {
        width: 1.5rem;
        height: 1.5rem;
        z-index: 50;
    }

.logo, .siteLogo, .headerLogo {
    filter: var(--logoColor);
}

.socialLinks {
    margin: 0%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.socialLink {
    padding: 1% 1%;
    width: 1.8rem;
    height: 1.8rem;
}


/*Intro Config*/
.IntroImage {
    width: 100%;
    padding: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
}

.IntroImage img {
        width: 13rem;
        border-radius: 100%;
    }


/* Certification Config */
.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 90% !important;
    height: 100% !important;
}


/* Swiper */
.mySwiper{
    width: 65%;
}

/* Program Config */
.ProjectHeader {
    margin: 0;
    height: 4rem;
    text-align: center;
}

.programImage {
    width: 100%;
    margin: 2% 0%;
}

.programImage img {
        width: 85%;
    }

.programInfo {
    flex-direction: row;
    margin: 0 0 0%;
    display: flex;
}

.programStack {
    width: 50%;
    text-align: center;
}

.stackList {
    list-style-type: none;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.programDescription {
    max-width: 50%;
    width: auto;
    text-align: center;
}

.programDescription p {
        margin: 0% 3% 3%;
    }

ul.nav {
    width: 60%;
    display: flex;
    margin: 0rem auto 0rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--divColour);
    border-radius: 2rem;
    padding-left: 0px;

    @media (max-width: 768px) {
        width: 90%;
    }
}

ul.nav li {
        width: 50%;
        padding: 0.3rem;
        list-style: none;
        text-align: center;
        cursor: pointer;
        transition: all 0.7s;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
    }

ul.nav li:nth-child(2) {
            border-radius: 0;
            border-bottom-right-radius: 2rem;
            border-top-right-radius: 2rem;
        }

ul.nav li:hover {
            background: var(--divColour);
        }

ul.nav li.active {
            background: var(--cardColor);
        }


/* Footer*/
#Footer {
    background-color: var(--divColour);
    color: var(--textColour);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4rem;
    bottom: 0;
    margin-top: 1rem;
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Footer {
        height: 5rem;
    }

    #Header {
        height: 4rem;
    }

    .programInfo {
        flex-direction: column;
        text-align: center;
        margin: 0 0 3%;
    }

    .programStack {
        width: 100%;
        text-align: center;
    }

    .programDescription {
        max-width: 100%;
        text-align: center;
    }

    .ProgramHeader {
        width: 18rem;
        text-align: center;
        grid-template-columns: 2rem 14rem 2rem;
        padding: 0 0rem;
        margin: 0rem auto;
    }

    #ContentContainer {
        height: 27rem;
        margin: 0%;
        padding: 0;
        padding: 0.4em 0.4em;
    }

    .IntroImage {
        width: 100%;
        height: 50%;
    }

    .ProjectHeader {
        margin: 0.4rem auto;
    }

    #Accordion {
        width: 100%;
    }

    .siteLink {
        width: 4rem;
        height: 4rem;
        margin: 0% 4%;
    }

    .homeLinks {
        height: 40%;
        width: 100%;
        background-color: lavender;
        margin:  0%;
    }

    .card {
        width: 11rem;
        height: 16rem;
    }

    .cardMedia {
        height: 60%
    }

    .cardContent {
        height: 40%;
    }

    .tutorCard {
        width: 9rem;
        height: 13rem;
        margin: 5%;
    }

    .popupCard {
        max-width: 11rem;
    }

    .box {
        width: 75%;
        height: 55%;
    }

    #About{
        margin: 1.5%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #Footer {
        height: 8rem;
        /* margin: 0 0 */
    }

    #Header {
        height: 5rem;
    }

    .programInfo {
        flex-direction: column;
        text-align: center;
        margin: 0 0 3%;
    }

    .programStack {
        width: 100%;
        text-align: center;
    }

    .programDescription {
        max-width: 100%;
        text-align: center;
    }

    .ProgramHeader {
        width: 25rem;
        padding: 0 0.5rem;
        margin: 0.4rem auto;
    }

    ul.nav {
        margin: 0 auto 1.5rem;
    }

    #ContentContainer {
        min-height: 25rem;
        width: 70%;
        margin: 0% auto 1rem;
        max-height: 35rem;
    }

    .IntroImage img {
        width: 20rem;
    }

    .IntroParagraph {
        padding: 1rem 0% 2rem;
    }

    .ProjectHeader {
        margin: 0.8rem auto;
    }

    .homeLinks {
        margin: 0;
        padding: 0 0;
        height: 10rem
    }

    .card {
        width: 16rem;
        height: 21rem;
    }

    .cardMedia {
        height: 10rem;
    }

    .cardContent {
        height: 9rem;
    }
}

/* Small devices on landscape */
@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    #Footer {
        position: fixed;
        bottom: 0;
        height: 2rem;
        margin: 2rem 0 0
    }

    #Content {
        position: relative;
        min-height: 100vh;
    }

    #Header {
        height: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: portrait) {
    #Footer {
        height: 10rem;
        margin: 1rem 0 0
    }

    #Header {
        height: 5rem;
    }

    .programInfo {
        flex-direction: column;
        text-align: center;
        margin: 0 0 3%;
    }

    .programStack {
        width: 100%;
        text-align: center;
    }

    .programDescription {
        max-width: 100%;
        text-align: center;
    }

    .ProgramHeader {
        width: 25rem;
        padding: 0 0.5rem;
        margin: 1rem auto;
    }

    ul.nav {
        margin: 0 auto 1.5rem;
    }

    #ContentContainer {
        min-height: 35rem;
        width: 78%;
        max-height: 45rem;
    }

    .IntroImage {
        height: 23rem
    }

        .IntroImage img {
            width: 23rem;
        }

    .IntroParagraph {
        padding: 1rem 0% 2rem;
    }

    .ProjectHeader {
        margin: 1.4rem auto;
    }

    .homeLinks {
        padding: 0.5rem;
        height: 11rem
    }

    .card {
        width: 18rem;
        height: 23rem;
    }

    .cardMedia {
        height: 12rem;
    }

    .cardContent {
        height: 11rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
